@*@model ConcertDB.DAL.Entities.Ticket

@{
    ViewData["Title"] = "Detalle";
}

<h1>Detalle</h1>

<div>
    <h4>Ticket</h4>
    <div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsUsed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsUsed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EntranceGate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EntranceGate)
        </dd>
    </dl>
    </div>
</div>
<div>
    <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@Model?.Id">Editar</a>
    <a class="btn btn-outline-success" asp-action="Index">Volver a la lista</a>
</div>
Por intentar algo distinto, se daña el código, usaré una implementación diferente*@

@model ConcertDB.Entities.Country

@{
    ViewData["Title"] = "Delete and Details";
}

<h1>Eliminar</h1>

<h3>Estas seguro que deseas eliminar el ticket?</h3>
<div>
    <partial name="../Shared/PartialViews/_CountryDetailsDelete.cshtml" />
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-outline-danger" />
        <a asp-action="Index" class="btn btn-outline-success">Regresar</a>
    </form>
</div>